@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --foreground: #FEFEFE;
    --foreground-black: #242428;
    --light-blue: #2C90FF;
    --light-grey: #999999;
    --toyota-red: #FF0022;
    --static-background: #282830;
    --dark-color-accent: #1C1F21;
    --radial-background: radial-gradient(circle, #363641 0%, #282830 100%);
    --popUpBackground: rgba(0, 0, 0, 0.4);
    --forminput-background: #30303A;

    color: var(--foreground);
    background: var(--radial-background);
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
}

/*button:focus,*/
/*button:focus-visible {*/
/*    outline: 4px auto -webkit-focus-ring-color;*/
/*}*/
